@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my personal blog!</h1>
    <hr />
    <h4>Who am I?</h4>
    <p>Hello, my name is George pavlov. I'm currently studiing in 8th grade in Moscow</p>
    
    <p>Learn more about me</p>
    <p><a href="https://github.com/GeorgePavlov1580">GitHub</a></p>
    <p><a href="https://www.youtube.com/channel/UCwGi8ynZEdKuuYqR9IITZXA">YouTube</a></p>
</div>
